[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.1.1"
numpy = "==1.26.1"
transformers = "==4.37"
datasets = "==2.17.0"
tiktoken = "==0.1.1"

[dev-packages]

[requires]
python_version = "3.11"
